#chesstempo-attribution {
  border: 1px solid #666;
  background: #ddd;
  font-size: 90%;
  color: #333;
  padding: 0.3em 0.5em;
  margin: 2em auto;
  text-align: center;
  width: 67%;
  clear: both;
}
.block #chesstempo-attribution {
  margin: 0;
  clear: left;
  width: 160px;
}
.pgn_diagram_filter-board-wrapper {
  overflow: hidden;
}
.pgn_diagram_filter-movelist {}
.pgn_diagram_filter-info {
  overflow: hidden;
  width: 232px;
}
.pgn_diagram_filter-movelist,
.pgn_diagram_filter-info {
  background: #eef;
  border: 1px solid #ccc;
  font-size: 80%;
  padding: 0.8em 1.1em;
  margin: 0 0 1em;
}
.movelist-title,
.info-title {
  font-weight: bold;
}
.pgn-prepend-image {
  float: left;
  clear: none;
  margin: 0 0.5em 0.5em;
}
.pgn-prepend-text {
  font-weight: bold;
  border: 2px solid #999;
  padding: 2px 3px;
  background: #ccc;
}
.pgn-hide-moves form {
  display: none;
}
.fen .ct-nav-buttons {
  display: none;
}
dt.match-info-tag {
  clear: none;
  float: left;
  font-weight: bold;
  padding-right: 0.5em;
  text-align: right;
  width: 100px;
}
dd.match-info-value {
  margin-right: 0 0.5em 0 105px;
}

/* Alignment styles */
.content .left,
#content .left { /* No float in blocks */
  float: left;
  clear: left;
}
.content .right,
#content {
  float: right;
  clear: right;
}

/* Scheme styles */
.red .ct-black-square {
  background-color:#ba5546 !important;
}
.red .ct-white-square {
  background-color:#f0d8bf !important;
}
.blue .ct-black-square {
  background-color:#4d6d92 !important;
}
.blue .ct-white-square {
  background-color:#ececd7 !important;
}
.green .ct-black-square {
  background-color:#769656;
}
.green .ct-white-square {
  background-color:#eeeed2;
}
.brown .ct-black-square {
  background-color:#b58863;
}
.brown .ct-white-square {
  background-color:#f0d9b8;
}
.orange .ct-black-square {
  background-color:#d08b18;
}
.orange .ct-white-square {
  background-color:#fce4b2;
}
.bw .ct-black-square {
  background-color:#444 !important;
}
.bw .ct-white-square {
  background-color:#fff !important;
}
.purple .ct-black-square {
  background-color:#6f2874 !important;
}
.purple .ct-white-square {
  background-color:#eed4ef !important;
}
.gray-marble .ct-black-square {
  background-image: url('../img/gray_marble-dark.jpg') !important;
}
.gray-marble .ct-white-square {
  background-image: url('../img/gray_marble-light.jpg') !important;
}
.green-marble .ct-black-square {
  background-image: url('../img/green_marble-dark.jpg') !important;
}
.green-marble .ct-white-square {
  background-image: url('../img/green_marble-light.jpg') !important;
}
.light-wood .ct-black-square {
  background-image: url('../img/light_wood-dark.jpg') !important;
}
.light-wood .ct-white-square {
  background-image: url('../img/light_wood-light.jpg') !important;
}
.wood .ct-black-square {
  background-image: url('../img/wood-dark.jpg') !important;
}
.wood .ct-white-square {
  background-image: url('../img/wood-light.jpg') !important;
}

/**
 * Various divs available in the ChessTempo PGN Viewer - more or less
 * self-explanatory.
 */
.ct-board-border {
  border: none;
}
.ct-board-container {}
.ct-board-move-mainline {
  font-weight: normal;
}
.ct-board-move-variation {}
.ct-board-movenum {
  font-weight: bold;
}
.ct-board-movetext {}
.ct-board-move-current {
  /* current move in moves list */
  font-weight: bold;
}
.ct-board-move-comment {
  /* Comments/Annotations in the PGN move list */
}

.ct-board-clickable-comment {
  /* This exists, but I don't know how to make comments clickable.  Yet.  */
}
.ct-nav-buttons {
  /* Centered nav buttons look pretty. */
  margin: 0px auto;
  text-align: center;
}
